<?xml version="1.0" encoding="utf-8" ?>

<configuration>

  <startup>

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--Интервал между проверками (мин)-->
    <add key="CheckInterval" value="5"/>
    <!--Интервал между первым (получение ID сессии) и вторым (получение таблицы поездов) запросами (сек)-->
    <add key="InRequestInterval" value="3"/>
    <!-- режим дебага, выводится больше данных и т.д.-->
    <add key="IsDebug" value="false"/>

    <!-- ПОЧТА GMAIL-->
    <add key="GMailFrom" value="rzdticketz@gmail.com" />
    <add key="GMailPassword" value="******" />
    <add key="GMailTo" value="****@gmail.com" />
    <add key="GMailSubject" value="Найден поезд по маршруту" />
  </appSettings>
</configuration>