<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <targets async="true">
	<!--default-wrapper xsi:type="BufferingWrapper" bufferSize="10"/-->

	<target xsi:type="File" name="siteLog"  fileName="${basedir}/trace.log"
		archiveFileName="${basedir}/trace.{#}.log"
		archiveAboveSize="10240000"
		archiveNumbering="Rolling"
		maxArchiveFiles="30"
	  	concurrentWrites="false"
		layout="${longdate} ${uppercase:${level}} ${logger} ${message}" />
  </targets>


  <rules>
	<logger name="RzdTickets.*" minlevel="Trace" writeTo="siteLog" />
  </rules>
</nlog>